.logo {
display: grid;
margin-left: 33%;
margin-top: -2%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.grid-item img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.main-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-bottom: 20px;
}